<div class='dm'>
  <% if dm.send_user_id == send_user.id %>
    <div class="balloon6">
      <div class="faceicon-right">
        <%= "#{send_user.name}" %>
      </div>
      <div class="chatting-right">
        <div class="says-right">
          <p><%= "#{dm.content}" %><br>
            <%= "#{l dm.created_at}" %></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="balloon6">
      <div class="faceicon-left">
        <%= "#{receive_user.name}" %>
      </div>
      <div class="chatting-left">
        <div class="says-left">
          <p><%= "#{dm.content}" %><br>
            <%= "#{dm.created_at}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
