<div class="line-bc">
  <h1 data-current_user_id="<%= current_user.id %>">ダイレクトメッセージ</h1>
  <div id='dms' data-receive_user_id="<%= @receive_user.id %>">
    <%= render partial: "dm", collection: @dms, locals: { send_user: current_user, receive_user: @receive_user } %>
  </div>
  <form class="form-inline">
    <div class="form-group w-100">
      <%= label_tag :content, '送信:' %>
      <%= text_area_tag :content, nil, data: { behavior: 'dm_room_speaker' }, class:"form-control", id: "dm-area", rows: 2; %>
    </div>
  </form>
  <button id="dm-button" class="btn btn-primary" style="width:100%;" >送信</button>
</div>
