<div class="mw-sm">
  <div class="box28">
    <span class="box-name" data-user_id="<%= @tweet.user.id %>"><%= @tweet.user.name %></span>
    <div class="tweet-left">
      <h3><%= @tweet.title %></h3>
    </div>
    <p><%= @tweet.content %></p>
    <br>
    <%= l @tweet.created_at %>
  </div>
  <div id="comments" data-tweet_id="<%= @tweet.id %>">
    <%= render @comments %>
  </div>
  <div class="tweet-comment" >
    <form>
      <div class="form-group">
        <label for="mention">返信相手</label>
        <input type="text" class="form-control mb-2" id="mention" placeholder="返信相手の左上の名前をクリックして下ださい" disabled>
      </div>
      <div class="form-group">
        <%= label_tag :content, 'コメント'  %>
        <%= text_area_tag :content, nil, data: { behavior: 'tweet_speaker' }, class: "form-control", id: "comment-area", rows: 3 %>
      </div>
    </form>
    <button id="comment-button" class="btn btn-primary">送信</button>
  </div>
</div>
