<div class="box28">
  <span class="box-name"><%= @tweet.user.name %></span>
  <div class="tweet-left">
    <h3><%= @tweet.title %></h3>
  </div>
  <p><%= @tweet.content %></p>
  <br>
  <%= l @tweet.created_at %>
</div>
<% @tweet.comments.each do |comment| %>
  <div class="box29">
    <span class="box-name"><%= comment.user.name %></span>
    <div class="tweet-left">
      <h3><%= comment.content %></h3>
    </div>
  </div>
<% end %>
