<div class="box28">
  <span class="box-name"><%= @tweet.user.name %></span>
  <div class="tweet-left">
    <h3><%= @tweet.title %></h3>
  </div>
  <p><%= @tweet.content %></p>
  <br>
  <%= l @tweet.created_at %>
</div>
<% @tweet.comments.each do |comment| %>
  <div class="box29">
    <span class="box-name"><%= comment.user.name %></span>
    <div class="tweet-left">
      <h3><%= comment.content %></h3>
    </div>
  </div>
<% end %>
<%= form_with model: [@tweet,@comment], local: true do |form| %>
  <div class="container mw-sm">
    <div id="content" class="form-group">
      <%= form.label :content, "返信" %>
      <%= form.text_area :content, class: "form-control", rows: 10  %>
    </div>
    <div>
      <%= form.submit "投稿",  class: "btn btn-block btn-primary" %>
    </div>
  </div>
<% end %>
