<div>
  <img id="image" src="./images/fallback/default.png">
</div>
<style>
  img {
    display: block;
  
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
  }
</style>
<script></script>
<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <a href="/users/<%= user.id %>">
    <article>
      <figure>
        <img src=<%= user.profile_image %> alt="サムネイル画像">
      </figure>
      <div class="text_content">
        <p class="text_date"><%= user.place %></p>
        <h2><%= user.name %></h2>
        <p class="text_excerpt"><%= truncate(user.content, length: 20)%></p>
      </div>
    </article>
  </a>
<% end %>
<%= paginate @users %>
