<div class="container mw-sm">
  <div class="user-title">
    <h1>ユーザー一覧</h1>
  </div>
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>">
      <article>
        <figure>
          <img src=<%= user.profile_image %> class="profile" alt="サムネイル画像">
        </figure>
        <div class="text_content">
          <h2><%= user.name %></h2>
          <div class="inline-block_test">
            <p class="text_date"><%= user.place %></p>
          </div>
          <div class="inline-block_test">
            <button type="button" class="btn btn-outline-primary"><%= link_to "お話する", "/dm_rooms/#{user.id}", data: {"turbolinks": false} %></button>
          </div>
          <p class="text_excerpt"><%= truncate(user.content, length: 30)%></p>
        </div>
      </article>
    </a>
  <% end %>
</div>
<%= paginate @users %>
