<header>
  <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
    <%= link_to "コミュニティーへようこそ", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item ">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link nav-item ' %>
          </li>
          <li class="nav-item ">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item ">
            <%= link_to "#{current_user.name}さんの詳細", mypage_path, class: 'nav-link' %>
          <% else %>
            <li class="nav-item ">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
