<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <% if user_signed_in? %>
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModalLong">
        <% if @notification_count > 0 %>
          <i class="fas fa-bell" style="color: gold"ode></i>
          <%= @notification_count %>
        <% else %>
          <i class="fas fa-bell"></i>
        <% end %>
      </button>
    <% end %>
    <%= link_to "コミュニティー", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item ">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link nav-item ' %>
          </li>
          <li class="nav-item ">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item ">
            <% if current_user.name.present? %>
              <%= link_to "#{current_user.name}さんのプロフィール", edit_mypage_path, class: 'nav-link' %>
            <% else %>
              <%= link_to "ユーザー登録", edit_mypage_path, class: 'nav-link' %>
            <% end %>
            <li class="nav-item ">
              <%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to 'つぶやき', tweets_path, class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to 'イベント', events_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                動画
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "・全動画", movies_path, class: "nav-item nav-link active font-weight-bold" %>
                <%= link_to "・受験", movies_path(category: "test"), class: "nav-item nav-link active" %>
                <%= link_to "・学校", movies_path(category: "school"), class: "nav-item nav-link active" %>
                <%= link_to "・ゲーム", movies_path(category: "game"), class: "nav-item nav-link active" %>
                <%= link_to "・夫婦関係", movies_path(category: "couple"), class: "nav-item nav-link active" %>
                <%= link_to "・子供との会話", movies_path(category: "children"), class: "nav-item nav-link active" %>
                <%= link_to "・その他", movies_path(category: "other"), class: "nav-item nav-link active" %>
              </div>
            </li>
            <li class="nav-item ">
              <%= link_to 'ワクワクBOX', demands_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item ">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<% if user_signed_in? %>
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% @notification_dms.each do |dm| %>
            <p><%= link_to "#{dm.send_user.name}さんからDMが届いています", dm_room_path(dm.send_user), data: {"turbolinks": false} %><%= dm.created_at.strftime('%m/%d') %></p>
            <Hr Width="100%">
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
