<h1>イベント</h1>
<%= link_to "イベントを開催する",new_event_path %>
<% @events.each do |event| %>
  <div class="box30">
    <span class="box-name"><%= "主催者:#{event.user.name}" %></span>
    <a href="/events/<%= event.id %>" class="event-left">
      <h3><%= "---#{event.name}---" %></h3>
      <%= event.prefecture %>
      <%= event.place %>
      <p class = "current-event">
        <% if event.user == current_user %>
          <%= link_to "削除",event_path(event), method: :delete, data: { confirm: "削除しますか？"} %>
          <%= link_to "編集", edit_event_path(event) %>
        <% else %>
          <% if @event_entries_event_ids.include?(event.id) %>
            <!-- いいね!済み -->
            <%= link_to '★', event_event_entries_path(event), method: :delete, class: "star"%>
          <% else %>
            <!-- いいね!していない -->
            <%= link_to '☆', event_event_entries_path(event), method: :post , class: "star"%>
          <% end %>
        </p>
      <% end %>
      <br>
      <%=  "掲載日:#{l event.created_at}" %>
    </a>
  </div>
<% end %>
