<%= render "shared/flash_messages" %>
<div class="container mw-sm">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="avatar-image">
        <label class="label" data-toggle="tooltip" title="Change your avatar">
          <img class="rounded" id="avatar" src="<%= current_user.profile_image %>" alt="avatar">
          <input type="file" class="sr-only" id="input" name="image" accept="image/*">
        </label>
      </div>
      <p>画像をタッチすると写真を投稿できます</p>
      <div class="alert" role="alert"></div>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
              <button type="button" class="btn btn-primary" id="crop">保存</button>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="img-container">
                <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cropper.jsは、当該ページ個別に読み込む -->
      <%= form_with model: current_user, url: { action: :update }, local: true do |form| %>
        <div class="form-group">
          <%= form.label :place, "・出身地" %>
          <%= form.text_field :place, class: "form-control " %>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <%= form.label :name, "・名前" %>
            <%= form.text_field :name, class: "form-control " %>
          </div>
          <div class="form-group">
            <%= form.label :age, "・年齢" %>
            <%= form.text_field :age, class: "form-control " %>
          </div>
          <div class="form-group">
            <%= form.label :gender, "・性別" %>
            <%= form.select :gender,["男性","女性"], {include_blank: '未選択'},  class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :child_name, "・子供の名前(ニックネーム可)" %>
            <%= form.text_field :child_name, class: "form-control " %>
          </div>
          <div class="form-group">
            <%= form.label :child_age, "・子供の年齢" %>
            <%= form.text_field :child_age, class: "form-control " %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :hobby, "・趣味" %>
      <%= form.text_field :hobby, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :trouble, "・最近悩んでる事" %>
      <%= form.text_area :trouble, class: "form-control", rows: 7 %>
    </div>
    <div class="form-group">
      <%= form.label :truancy_reason, "・今後お子さんにどうなってほしいか"%>
      <%= form.text_area :truancy_reason, class: "form-control", rows: 7 %>
    </div>
    <div class="form-group">
      <%= form.label :using_reason, "・お子さんにどのような教育機関を提供したいか" %>
      <%= form.text_area :using_reason, class: "form-control", rows: 7 %>
    </div>
    <div class="form-group">
      <%= form.label :content, "・こんな人のお話が聞きたい"%>
      <%= form.text_area :content, class: "form-control", rows: 7 %>
    </div>
    <div class="form-group">
      <%= form.label :hope, "・このコミュニティーでやりたい事" %>
      <%= form.text_area :hope, class: "form-control", rows: 7 %>
    </div>
    <div>
      <%= form.submit "更新",  class: "btn btn-block btn-primary" %>
    </div>
  </div>
<% end %>
<style>
  #crop_area_box {
    display: block;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
</style>
